
/* header {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.box {
  color: white;
  background-color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 2em;
  padding: 1rem;
  text-align: center;
}

.topnav a {
  color: gray;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
  /* justify-content: flex-end;
  display: flex;
  align-items: center; */
  /* margin-left: 800px;
  margin-right: 0px;
  display: inline-block; */
}

.nav-links a {
  padding-right: 10px;
  border-right: 1px solid lightgray;
  /* max-height: 3px; */
}

a:last-child {
  border-right: none;
}

/* .contact {
  max-height: 5px;
  height: 2px;
} */

.content-wrapper {
  display: flex;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 50px;
}

body {
  background-image: url(../images/bg.png);
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* #about-main {
  padding: 1em;
  box-sizing: border-box;
  display: flex;
} */

.about-me {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 2em;
  padding: 1rem;
  /* margin-right: 40px; */
  margin-left: 5px;
}

.contact-me {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 2em;
  padding: 1rem;
  /* margin-right: 40px; */
  margin-left: 5px;
}

.portfolio-me {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 2em;
  padding: 1rem;
  /* margin-right: 40px; DO NOT ENABLE*/
  margin-left: 5px;
}

.outer-portfolio-box {
  display: flex;
  flex-direction: column;
  height: 900px;
  /* max-width: 650px; */
  background-color: white;
  overflow: 0 auto;
}

/* .puppyImages {
  border: 1px solid #4aaaa5;
} */

/* .col-md-4 {
  border: 1px solid blue;
} */

/* .portfolio-box-col1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 50px;
}

.portfolio-box-col2 {
  display: flex;
  flex-direction: column;
  align-items: right;
  float: right;
  align-items: flex-end;
  margin-top: -702px;
  margin-right: 80px;
} */

img {
  padding-top: 30px;
  padding-left: 20px;
}

.description {
  color: gray;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  float: right;
  width: 95%;
  line-height: 2;
  padding-top: 22px;
  margin-left: 15px;
}

section {
  background: white;
  width: 650px;
  height: 500px;
  /* margin-right: 6px; */
  margin-top: 30px;
}

.about-line {
  color: gray;
  background-color: lightgray;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -20px;
}

.sidebar {
  /* border: 1px solid lightgray; */
  background-color: White;
  width: 270px;
  height: 175px;
  align-items: left;
  /* padding-left: 270px; */
  margin-left: 50px;
  /* display: flex;*/
  margin-bottom: 300px;
  /* justify-content: center; */
  /* flex-direction: column; */
}

.bio {
  display: flex;
  justify-content: center;
  margin-right: 50px;
}

.picture {
  margin-right: 10px;
}

.form-group {
  padding: 20px;
  margin: 0 auto;
}

.connect {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 20px;
  padding: 1rem;
  margin-right: 30px;
  margin-left: 25px;
  margin-top: 10px;
}

.connect-links {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: -10px;
  padding-right: 25px;
  margin-left: 0 auto
}

.connect-line {
  color: gray;
  background-color: lightgray;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -20px;
}

/* .footer {
  position: absolute;
  border: 1px solid lightgray;
  color: gray;
  align-items: center;
  max-width: 960px;
  display: flex;
  justify-content: center;
  height: 50px;
  margin:
} */

.footer {
  position: fixed;
  bottom: 0px;
  left: 480px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: 50px;
  border: 1px solid lightgray;
  color: gray;
  align-items: center;
  display: flex;
  justify-content: center;
}

/*Below here in the code for the contact page/*

* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4aaaa5;
}

/*Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    max-width: 650px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 90%;
    margin-top: -10px;
    margin-left: 30px;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (min-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


/* Below here was the css to match the hover-overlay on the Portfolio page */

/* @import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
} */

/* body{
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
} */

/* .main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.portfolio-box-col1 {
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .portfolio-box-col1 {
    display: block;
    width: 100%;
  } */
}

/* @media screen and (min-width: 900px){
  .portfolio-box-col1 {
    width: 33.33333%;
  }
}

.portfolio-box-col1 .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}


.oliver-image {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
} */

/* .oliver-image .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.oliver-image:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
} */

/* .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.oliver-image:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
} */

/* .fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
} */
